<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMAS</title>
    <style type="text/css">
      body { margin: 0; background-color: #fafafa; font-family: Roboto; } table
      { border-spacing: 0; } td { padding: 0; } img { border: 0; } .wrapper {
      width: 100%; table-layout: fixed; background-color: #fafafa; } .main {
      background-color: rgba(0, 0, 0, 0.9); margin: 20px auto; width: 100%;
      max-width: 595px; min-height: 660px; border-spacing: 0; font-family:
      sans-serif; color: #171a1b; } .main-logo a { display: block; margin-top:
      50px; font-size: 2rem; text-align: center; color: #ccc; padding: 40px 20px
      0px 20px; text-decoration: none; } .social-icons { text-align: center;
      padding: 0px 20px 50px 20px; color: #fff; display: flex; justify-content:
      center; } .social-icons a { margin: 0px 5px; }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <table class="main" width="100%">
        <tr>
          <td class="main-logo"><a href="" style="color: #e50914;">Subscription
              Confirmation</a></td>
        </tr>
        <tr>
          <td style="text-align: center; font-size: 36px;">
            <p style="color: #fff;">Congratulations !!</p>
          </td>
        </tr>
        <tr>
          <td style="padding:0px 0 50px">
            <table width="100%">
              <tr>
                <td
                  style="padding: 0px 25px 25px 25px; font-weight: 400; font-size: 18px; line-height: 22px; text-align: center ;line-height: 26px"
                >
                  <p style="color: #fff;">Dear Mr./Ms
                    {{fullName}}, your subscription has been upgraded to premium
                    for one month</p>
                  <p style="color: #fff;">If you any query or face any problem
                    please inform us on our facebook page
                  </p>
                </td>
              </tr>
              <tr>

                <td style="text-align: center">
                  <a
                    href=""
                    style="color: #e50914;text-decoration: none; font-size: 1.3rem; margin-top: 3rem; display:block"
                  >
                    Vist SMAS
                  </a>
                  <p
                    style="text-align: center; color:#fff; margin-top: 3rem;"
                  >Follow Us On</p>
                  <a
                    style="text-align: center;"
                    href="https://www.facebook.com/smasbdsofficial"
                  ><img
                      src="https://i.ibb.co/JvXzf3d/facebook.png"
                      alt="facebook"
                      width="43.6"
                    /></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>

  </body>

</html>